<li><% if comment %>

<b><%= comment.author %> Said: </b><br>
<p><%= comment.body %> </p>

<% end %></li>


<% if comments_by_parent %>
		<ul>
			<% comments_by_parent.each do |parent_comment_id, comments| %>

						<% comments && comments.each do |comment| %>
								<%= render partial: "comment",
	 							locals: {:comment =>  comment,
								:comments_by_parent => comments_by_parent} \
								if comment.parent_comment_id == parent_comment_id  %>
						<% end %>
						<%= render :partial => "comment_form", :locals => {:parent_comment_id => parent_comment_id, :comment => @comment} %>
			<% end %>
		</ul>

<% end %>

